{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}Medilab - Dashboard {% endblock %}
{% block content_title %} Tableau de bord {% endblock %}

{% block main %}
    <section class="dashboard">
        <div class="container">
            <h1>Hello dashboard</h1>
        </div>
    </section>
{% endblock %}